In [264]:
# 1 Crear una lista que contenga nombres de ciudades del mundo. Que contenga mas de 5 elementos e imprimir por patalla
ciudades = ["punta arenas","rio grande", "montevideo","cartagena","bogota","new york","caracas","miami","madrid","paris","roma"]
print (ciudades)

['punta arenas', 'rio grande', 'montevideo', 'cartagena', 'bogota', 'new york', 'caracas', 'miami', 'madrid', 'paris', 'roma']

In [265]:
#2 Imprimir por pantalla el segundo elemento de la lista
ciudades[1]

'rio grande'

In [266]:
#3 Imprimir por pantalla del segundo al cuarto elemento 
ciudades[1:4]

['rio grande', 'montevideo', 'cartagena']

In [267]:
#4 Agregar una ciudad mas a la lista que ya existia y otra qu eno ¿Arroja algun tipo de error?
ciudades.append("rio grande")
ciudades.append("las vegas")
print(ciudades)

['punta arenas', 'rio grande', 'montevideo', 'cartagena', 'bogota', 'new york', 'caracas', 'miami', 'madrid', 'paris', 'roma', 'rio grande', 'las vegas']

In [268]:
#5 Agregar otra ciudad pero en la cuarta posicion
ciudades.insert(3,"washington")
print(ciudades)

['punta arenas', 'rio grande', 'montevideo', 'washington', 'cartagena', 'bogota', 'new york', 'caracas', 'miami', 'madrid', 'paris', 'roma', 'rio grande', 'las vegas']

In [269]:
#6 concatenar otra lista a la ya creada
paises = ["alemania","españa","colombia","Estados Unidos","venezuela","brasil","francia","uruguay", "japon"]
ciudades.extend(paises)
print(ciudades)

['punta arenas', 'rio grande', 'montevideo', 'washington', 'cartagena', 'bogota', 'new york', 'caracas', 'miami', 'madrid', 'paris', 'roma', 'rio grande', 'las vegas', 'alemania', 'españa', 'colombia', 'Estados Unidos', 'venezuela', 'brasil', 'francia', 'uruguay', 'japon']

In [270]:
#7 Crear una tupla que contenga los numeros del 1 al 20
numeros = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(numeros))
print(numeros)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [272]:
#8 Imprimir desde el indice 10 al 15 de la tupla
print(numeros[9:15])

(10, 11, 12, 13, 14, 15)

In [273]:
#9 Desempaquetar solo los primeros 3 elementos en 3 variables
#primero, segundo, tercero = numeros
#print(primero)
#print(segundo)
#print(tercero)

In [274]:
#10 crear un diccionario con la lista creada en el punto 1, asignandole la clave "ciudad" agregar tambien otras claves, como puede ser "Pais", "Continente"
ciudades = {"ciudad" : "montevideo", "continente" : "america", "pais" : "argentinacampeondelmundo"}
for key in ciudades.items():
    print (key)
for key in ciudades:
    print (key)

('ciudad', 'montevideo')
('continente', 'america')
('pais', 'argentinacampeondelmundo')
ciudad
continente
pais

In [275]:
#11 Imprimir las claves del diccionario
ciudades = {"ciudad" : "montevideo", "continente" : "america", "pais" : "argentinacampeondelmundo"}
for key in ciudades:
    print (key)

ciudad
continente
pais

In [276]:
#12 Imprimir ciudades a traves de su clave
ciudades = {"ciudad" : "montevideo", "continente" : "america", "pais" : "argentinacampeondelmundo"}
for key in ciudades.items():
    print (key)

('ciudad', 'montevideo')
('continente', 'america')
('pais', 'argentinacampeondelmundo')

In [280]:
#13 crear una variable que contenga un elemento del conjunto de numeros enteros y luego imprimir por pantalla si es mayor o menor a cero
n = (10)
if n > 0:
    print ("el numero es mayor a cero")
    if n < 0:
        print ("el numero es menor a cero")

el numero es mayor a cero

In [281]:
#14 crear dos variables y un condicional que informe si son del mismo tipo de dato
n = (50)
dato = ("cualquier cosa")
type(n), type(dato)

(int, str)

In [282]:
#14 bis crear dos variables y un condicional que informe si son del mismo tipo de dato
n = (50)
dato = ("cualqueir cosa")

if type(n) == type(dato):
    print ("son el mismo tipo de dato")
else:
    print ("no son el mismo tipo de dato")

no son el mismo tipo de dato

In [16]:
#15 para los valores enteros del 1 al 20, imprimir por pantalla si es par o impar
i = 0
while i < 20:
    i+=1
    if i % 2 == 0:
        print(i, "es par")
    else:
        print(i, "es impar")

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar
20 es par

In [283]:
#16 en un ciclo for, mostrar para los valores entre 0 y 5 el resultado de elevarlo a la potencia = a 3
for n in range(0,6):
    n = n**3
    print(n)

0
1
8
27
64
125

In [284]:
#17 crear una variable que contenga un numero entero y realizar un ciclo for, la misma cantidad de ciclos
n = (5)
for n in range(n):
    print(n)

0
1
2
3
4

In [43]:
#18 Utilizar un ciclo while para realizar el factorial de un numero guardado en una variable, si la variable contiene un numero mayor a 0.
n = (5)
if n > 0:
    factorial = 1
    i = 1 
    while (i<=n):
        factorial = factorial * n
        i = i + 1
        print (factorial)

5
25
125
625
3125

In [234]:
#19 Aplicando continue, armar un ciclo while que solo imprima los valores divisibles por 12, dentro de un rango de 100 a 300
n = 100
while n <= 300:
    if n % 12 != 0:
        n += 1
        continue
    print(n)
    n += 1

108
120
132
144
156
168
180
192
204
216
228
240
252
264
276
288
300

In [285]:
#20 Crear un ciclo while que encuentre dentro del rango de 100 a 300 el primer numero divisible por 3 y ademas multipo de 6.
n = 100
while n <= 300:
    if n % 3 == 0 and n % 6 == 0:
        print(n)
        break
    n += 1

102

In [237]:
#21 A partir de la variable cadena ya dada, mostrar en que posiciones aparece la letra ´n´ cadena = ´Hola Mundo. esto es una practica del lenguaje de programacion Python´
cadena = "Hola Mundo. esto es una practica del lenguaje de programacion Python"
letra =list(cadena)
for indice, letra in enumerate(cadena):
    if letra == 'n':
        print(f"La letra 'n' aparece en la posición {indice}")

La letra 'n' aparece en la posición 7
La letra 'n' aparece en la posición 21
La letra 'n' aparece en la posición 39
La letra 'n' aparece en la posición 60
La letra 'n' aparece en la posición 67

In [220]:
#22 Convertir en una lista la variable cadena del punto anterior y luego recorrerla con un iterador
cadenalista = ['Hola','Mundo.','esto','es','una','practica','del','lenguaje','de','programacion','Python']
for (n) in cadenalista:
    print(n)

Hola
Mundo.
esto
es
una
practica
del
lenguaje
de
programacion
Python